@media screen and (max-width: 650px) {
  header .container {
    display: flex;
    flex-direction: column;
  }

  header nav {
    margin-top: 15px;
  }

  .filme-principal {
    display: block;
    height: 300px;
  }

  .filme-principal .container {
    margin-top: 45vw;
    height: 200px;
    margin-left: 10vw;
  }

  .filme-principal .container .text {
    width: 300px;
  }

  .botao-assistir {
    width: 300px;
  }

  .botao-info {
    margin-left: 0;
    margin-top: 15px;
    width: 300px;
  }

  .carrossel-filmes {
    margin-top: 15px;
  }
}